body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    max-width: 800px;
}

button {
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #daffcf;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-family:Andale Mono, monospace;
}

input { 
    margin: 5px 0;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

pre {
    background: #f4f4f4;
    padding: 10px;
}

.admin-section {
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
}


